{{! @template block_faces/faces_block }}
<div class="faces-block">
    <a class="faces-block__link" href="{{showfacesurl}}">
        <span class="faces-block__media">
            <img src="{{imageurl}}" alt="{{linktext}}" class="faces-block__image" />
        </span>
        <span class="faces-block__text">{{linktext}}</span>
    </a>
</div>
